
<button mat-raised-button color="primary" (click)="toggleCreateMaterialForm()">
  Cadastrar
</button>
<app-create-material *ngIf="showCreateMaterialForm" [id]="id"></app-create-material>


<table mat-table [dataSource]="materiais" class="mat-elevation-z8">

    <ng-container matColumnDef="tombo">
      <th mat-header-cell *matHeaderCellDef> Tombo </th>
      <td mat-cell *matCellDef="let element"> {{element.tombo}} </td>
    </ng-container>
 
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>
  
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
    </ng-container>
    
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        
        <button mat-icon-button (click)="updateMaterial(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteMaterial(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
