<div class="container">
    <mat-card>
        <mat-card-title>Criar Local</mat-card-title>
        <mat-card-content>
            <form class="contact-form" #formulario="ngForm" (ngSubmit)="criarLocal()">
                <mat-form-field>
                    <mat-label>Nome do Local</mat-label>
                    <input [(ngModel)]="nome" matInput name="nome" required>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Descrição do local</mat-label>
                    <textarea [(ngModel)]="descricao" matInput name="descricao" required></textarea>
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">Criar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
